Iremos usar os seguintes dados: 
* Jogos da copa do mundo 2018:
    * [FIFA 2018 Statistics](https://www.kaggle.com/mathan/fifa-2018-match-statistics)
    * Atributos:
        * **Date**: data da partida;
        * **Team**: nome da seleção;
        * **Opponent**: nome da seleção oponente;
        * **Goal Scored**: número de gols marcados pelo *Team*;
        * **Ball Possession**: quantidade de tempo que a bola esteve sob o controle do Team;
        * **Attempts**: número de tentativas de gol;
        * **On-Target**: número de chutes no alvo (gol);
        * **Off-Target**: número de chutes para fora;
        * **Blocked**: número de chutes bloqueados pela defesa;
        * **Corners**: número de escanteios;
        * **Offsides**: *número de impedimentos*
        * **Free Kicks** *número de cobranças de falta*
        * **Saves**: número de defesas do goleiro;
        * **Pass Accuracy %**: percentual de passes certos;
        * **PassesTotal**: número total de passes do *Team*
        * **Distance Covered (Kms)**: distância total percorrida pelos jogados do *Team* no jogo;
        * **Fouls Committed**: número de faltas cometidas pelo *Team*
        * **Yellow Card**: número de cartões amarelos recebidos;
        * **Yellow & Red**: número de cartões amarelos seguidos com vermelho;
        * **Red**: número de cartões vermelhos;
        * **Man of the Match**: algum dos jogadores do *Team* receberam o prêmio de *Man of the Match*?
        * **1st Goal**: quando foi marcado o primeiro gol?
        * **Round**: se a partida aconteceu na fase de grupos, oitavas, quartas, semi, disputa de 3º lugar ou na final;
        * **PSO**: Existiu um penalty na partida?
        * **Goals in PSO**: número de gols marcados de penalty;
        * **Own goals**: número de gols contra;
        * **Own goal Time**: momento em que o gol contra foi marcado;

In [2]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt

plt.rc('figure', figsize = (20, 8))

In [3]:
df = pd.read_csv('data/FIFA_2018_Statistics.csv')
df.head()

,Date,Team,Opponent,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,...,Yellow Card,Yellow & Red,Red,Man of the Match,1st Goal,Round,PSO,Goals in PSO,Own goals,Own goal Time
0,14-06-2018,Russia,Saudi Arabia,5,40,13,7,3,3,6,...,0,0,0,Yes,12.0,Group Stage,No,0,NaN,NaN
1,14-06-2018,Saudi Arabia,Russia,0,60,6,0,3,3,2,...,0,0,0,No,NaN,Group Stage,No,0,NaN,NaN
2,15-06-2018,Egypt,Uruguay,0,43,8,3,3,2,0,...,2,0,0,No,NaN,Group Stage,No,0,NaN,NaN
3,15-06-2018,Uruguay,Egypt,1,57,14,4,6,4,5,...,0,0,0,Yes,89.0,Group Stage,No,0,NaN,NaN
4,15-06-2018,Morocco,Iran,0,64,13,3,6,4,5,...,1,0,0,No,NaN,Group Stage,No,0,1.0,90.0

### Selecionando colunas

* Obs.: vou usar a função head() apenas a visualização dos dados ficar menor

In [9]:
df['Team'].head()

0          Russia
1    Saudi Arabia
2           Egypt
3         Uruguay
4         Morocco
Name: Team, dtype: object

#### Caso seja mais de uma coluna, devemos especificar as colunas dentro de uma lista

In [10]:
df[['Team', 'Goal Scored']].head()

           Team  Goal Scored
0        Russia            5
1  Saudi Arabia            0
2         Egypt            0
3       Uruguay            1
4       Morocco            0

### Selecionando linhas

In [11]:
df[0:2]

,Date,Team,Opponent,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,...,Yellow Card,Yellow & Red,Red,Man of the Match,1st Goal,Round,PSO,Goals in PSO,Own goals,Own goal Time
0,14-06-2018,Russia,Saudi Arabia,5,40,13,7,3,3,6,...,0,0,0,Yes,12.0,Group Stage,No,0,NaN,NaN
1,14-06-2018,Saudi Arabia,Russia,0,60,6,0,3,3,2,...,0,0,0,No,NaN,Group Stage,No,0,NaN,NaN

#### Apenas as duas últimas linhas

In [12]:
df[-2:]

,Date,Team,Opponent,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,...,Yellow Card,Yellow & Red,Red,Man of the Match,1st Goal,Round,PSO,Goals in PSO,Own goals,Own goal Time
126,15-07-2018,France,Croatia,4,39,8,6,1,1,2,...,2,0,0,Yes,18.0,Final,No,0,1.0,18.0
127,15-07-2018,Croatia,France,2,61,15,3,8,4,6,...,1,0,0,No,28.0,Final,No,0,NaN,NaN

#### Todas as linhas com exceção das duas últimas linhas

In [13]:
df[:-2]

,Date,Team,Opponent,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,...,Yellow Card,Yellow & Red,Red,Man of the Match,1st Goal,Round,PSO,Goals in PSO,Own goals,Own goal Time
0,14-06-2018,Russia,Saudi Arabia,5,40,13,7,3,3,6,...,0,0,0,Yes,12.0,Group Stage,No,0,NaN,NaN
1,14-06-2018,Saudi Arabia,Russia,0,60,6,0,3,3,2,...,0,0,0,No,NaN,Group Stage,No,0,NaN,NaN
2,15-06-2018,Egypt,Uruguay,0,43,8,3,3,2,0,...,2,0,0,No,NaN,Group Stage,No,0,NaN,NaN
3,15-06-2018,Uruguay,Egypt,1,57,14,4,6,4,5,...,0,0,0,Yes,89.0,Group Stage,No,0,NaN,NaN
4,15-06-2018,Morocco,Iran,0,64,13,3,6,4,5,...,1,0,0,No,NaN,Group Stage,No,0,1.0,90.0
5,15-06-2018,Iran,Morocco,1,36,8,2,5,1,2,...,3,0,0,Yes,90.0,Group Stage,No,0,NaN,NaN
6,15-06-2018,Portugal,Spain,3,39,8,3,2,3,4,...,1,0,0,No,4.0,Group Stage,No,0,NaN,NaN
7,15-06-2018,Spain,Portugal,3,61,12,5,5,2,5,...,1,0,0,Yes,24.0,Group Stage,No,0,NaN,NaN
8,16-06-2018,France,Australia,2,51,12,5,4,3,5,...,1,0,0,Yes,58.0,Group Stage,No,0,NaN,NaN
9,16-06-2018,Australia,France,1,49,4,1,2,1,1,...,3,0,0,No,62.0,Group Stage,No,0,1.0,81.0
10,16-06-2018,Argentina,Iceland,1,72,26,7,9,10,10,...,0,0,0,No,19.0,Group Stage,No,0,NaN,NaN
11,16-06-2018,Iceland,Argentina,1,28,9,3,5,1,2,...,0,0,0,Yes,23.0,Group Stage,No,0,NaN,NaN
12,16-06-2018,Peru,Denmark,0,52,18,6,7,5,3,...,1,0,0,No,NaN,Group Stage,No,0,NaN,NaN
13,16-06-2018,Denmark,Peru,1,48,10,3,5,2,7,...,2,0,0,Yes,59.0,Group Stage,No,0,NaN,NaN
14,17-06-2018,Croatia,Nigeria,2,54,11,2,7,2,6,...,2,0,0,Yes,32.0,Group Stage,No,0,NaN,NaN
15,17-06-2018,Nigeria,Croatia,0,46,14,2,5,7,5,...,1,0,0,No,NaN,Group Stage,No,0,1.0,32.0
16,17-06-2018,Costa Rica,Serbia,0,50,10,3,3,4,5,...,2,0,0,No,NaN,Group Stage,No,0,NaN,NaN
17,17-06-2018,Serbia,Costa Rica,1,50,10,3,5,2,4,...,2,0,0,Yes,56.0,Group Stage,No,0,NaN,NaN
18,17-06-2018,Germany,Mexico,0,60,25,9,9,7,8,...,2,0,0,Yes,NaN,Group Stage,No,0,NaN,NaN
19,17-06-2018,Mexico,Germany,1,40,12,4,6,2,1,...,2,0,0,No,35.0,Group Stage,No,0,NaN,NaN
20,17-06-2018,Brazil,Switzerland,1,52,20,4,9,7,7,...,1,0,0,Yes,20.0,Group Stage,No,0,NaN,NaN
21,17-06-2018,Switzerland,Brazil,1,48,6,2,4,0,2,...,3,0,0,No,50.0,Group Stage,No,0,NaN,NaN
22,18-06-2018,Sweden,Korea Republic,1,52,15,4,5,6,6,...,1,0,0,Yes,65.0,Group Stage,No,0,NaN,NaN
23,18-06-2018,Korea Republic,Sweden,0,48,5,0,2,3,5,...,2,0,0,No,NaN,Group Stage,No,0,NaN,NaN
24,18-06-2018,Belgium,Panama,3,61,15,6,7,2,9,...,3,0,0,Yes,47.0,Group Stage,No,0,NaN,NaN
25,18-06-2018,Panama,Belgium,0,39,6,2,4,0,3,...,5,0,0,No,NaN,Group Stage,No,0,NaN,NaN
26,18-06-2018,Tunisia,England,1,41,6,1,3,2,2,...,0,0,0,No,11.0,Group Stage,No,0,NaN,NaN
27,18-06-2018,England,Tunisia,2,59,17,7,7,3,7,...,1,0,0,Yes,35.0,Group Stage,No,0,NaN,NaN
28,19-06-2018,Colombia,Japan,1,41,8,3,1,4,3,...,2,0,1,No,39.0,Group Stage,No,0,NaN,NaN
29,19-06-2018,Japan,Colombia,2,59,14,6,5,3,6,...,1,0,0,Yes,6.0,Group Stage,No,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,30-06-2018,France,Argentina,4,41,9,4,4,1,0,...,3,0,0,Yes,13.0,Round of 16,No,0,NaN,NaN
97,30-06-2018,Argentina,France,3,59,9,4,1,4,4,...,5,0,0,No,41.0,Round of 16,No,0,NaN,NaN
98,30-06-2018,Uruguay,Portugal,2,39,6,3,2,1,2,...,0,0,0,Yes,7.0,Round of 16,No,0,NaN,NaN
99,30-06-2018,Portugal,Uruguay,1,61,20,5,1,8,10,...,1,0,0,No,55.0,Round of 16,No,0,NaN,NaN
100,01-07-2018,Spain,Russia,1,75,25,9,6,10,6,...,1,0,0,No,12.0,Round of 16,Yes,3,NaN,NaN
101,01-07-2018,Russia,Spain,1,25,6,1,3,2,5,...,2,0,0,Yes,41.0,Round of 16,Yes,4,1.0,12.0
102,01-07-2018,Croatia,Denmark,1,54,22,7,8,7,5,...,0,0,0,Yes,4.0,Round of 16,Yes,3,NaN,NaN
103,01-07-2018,Denmark,Croatia,1,46,15,3,10,2,4,...,1,0,0,No,1.0,Round of 16,Yes,2,NaN,NaN
104,02-07-2018,Brazil,Mexico,2,47,21,10,7,4,8,...,2,0,0,Yes,51.0,Round of 16,No,0,NaN,NaN
105,02-07-2018,Mexico,Brazil,0,53,13,1,4,8,7,...,4,0,0,No,NaN,Round of 16,No,0,NaN,NaN
106,02-07-2018,Belgium,Japan,3,56,24,8,10,6,10,...,0,0,0,Yes,69.0,Round of 16,No,0,NaN,NaN
107,02-07-2018,Japan,Belgium,2,44,11,4,4,3,6,...,1,0,0,No,48.0,Round of 16,No,0,NaN,NaN
108,03-07-2018,Sweden,Switzerland,1,37,12,3,6,3,3,...,1,0,0,Yes,66.0,Round of 16,No,0,NaN,NaN
109,03-07-2018,Switzerland,Sweden,0,63,18,4,5,9,11,...,2,0,1,No,NaN,Round of 16,No,0,NaN,NaN
110,03-07-2018,Colombia,England,1,48,14,4,7,3,2,...,6,0,0,No,90.0,Round of 16,Yes,3,NaN,NaN
111,03-07-2018,England,Colombia,1,51,16,2,9,5,7,...,2,0,0,Yes,57.0,Round of 16,Yes,4,NaN,NaN
112,06-07-2018,Uruguay,France,0,42,11,4,6,1,4,...,2,0,0,No,NaN,Quarter Finals,No,0,NaN,NaN
113,06-07-2018,France,Uruguay,2,58,11,2,7,2,3,...,2,0,0,Yes,40.0,Quarter Finals,No,0,NaN,NaN
114,06-07-2018,Brazil,Belgium,1,57,26,9,7,10,8,...,2,0,0,No,NaN,Quarter Finals,No,0,1.0,13.0
115,06-07-2018,Belgium,Brazil,2,43,8,3,3,2,4,...,2,0,0,Yes,13.0,Quarter Finals,No,0,NaN,NaN
116,07-07-2018,Sweden,England,0,43,7,3,3,1,1,...,2,0,0,No,NaN,Quarter Finals,No,0,NaN,NaN
117,07-07-2018,England,Sweden,2,57,12,2,4,6,6,...,1,0,0,Yes,30.0,Quarter Finals,No,0,NaN,NaN
118,07-07-2018,Russia,Croatia,2,38,13,7,4,2,6,...,1,0,0,No,31.0,Quarter Finals,Yes,3,NaN,NaN
119,07-07-2018,Croatia,Russia,2,62,17,3,10,4,8,...,4,0,0,Yes,39.0,Quarter Finals,Yes,4,NaN,NaN
120,10-07-2018,France,Belgium,1,40,19,5,8,6,4,...,2,0,0,Yes,51.0,Semi- Finals,No,0,NaN,NaN
121,10-07-2018,Belgium,France,0,60,9,3,5,1,5,...,3,0,0,No,NaN,Semi- Finals,No,0,NaN,NaN
122,11-07-2018,Croatia,England,2,54,22,7,11,4,8,...,2,0,0,Yes,68.0,Semi- Finals,No,0,NaN,NaN
123,11-07-2018,England,Croatia,1,46,11,1,6,4,4,...,1,0,0,No,5.0,Semi- Finals,No,0,NaN,NaN
124,14-07-2018,Belgium,England,2,43,12,4,3,5,4,...,1,0,0,Yes,4.0,3rd Place,No,0,NaN,NaN
125,14-07-2018,England,Belgium,0,57,15,5,7,3,5,...,2,0,0,No,NaN,3rd Place,No,0,NaN,NaN

### Selecionando linhas e colunas com o slice
Nesse caso, selecionaremos as 3 primeiras linhas e as colunas c1 e c3

In [15]:
df[:3][['Team', 'Opponent','Goal Scored']]

           Team      Opponent  Goal Scored
0        Russia  Saudi Arabia            5
1  Saudi Arabia        Russia            0
2         Egypt       Uruguay            0

### Selecionando linhas e colunas utilizando os rótulos - função loc
* Iremos criar uma cópia do dataFrame que terá o atributo Date como índice.
* Para tanto, usaremos a função **set_index**
* No pandas, as linhas são rotuladas com os índices.
* Através da função loc podemos acessar os dados utilizano os rótulos das linhas e colunas

In [18]:
df_new = df.set_index('Date')
df_new.loc[['14-06-2018', '15-06-2018'], :] #Teria o mesmo efeito o comando df_new.loc[['14-06-2018', '15-06-2018']]

,Team,Opponent,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,Offsides,...,Yellow Card,Yellow & Red,Red,Man of the Match,1st Goal,Round,PSO,Goals in PSO,Own goals,Own goal Time
Date,,,,,,,,,,,,,,,,,,,,,
14-06-2018,Russia,Saudi Arabia,5,40,13,7,3,3,6,3,...,0,0,0,Yes,12.0,Group Stage,No,0,NaN,NaN
14-06-2018,Saudi Arabia,Russia,0,60,6,0,3,3,2,1,...,0,0,0,No,NaN,Group Stage,No,0,NaN,NaN
15-06-2018,Egypt,Uruguay,0,43,8,3,3,2,0,1,...,2,0,0,No,NaN,Group Stage,No,0,NaN,NaN
15-06-2018,Uruguay,Egypt,1,57,14,4,6,4,5,1,...,0,0,0,Yes,89.0,Group Stage,No,0,NaN,NaN
15-06-2018,Morocco,Iran,0,64,13,3,6,4,5,0,...,1,0,0,No,NaN,Group Stage,No,0,1.0,90.0
15-06-2018,Iran,Morocco,1,36,8,2,5,1,2,0,...,3,0,0,Yes,90.0,Group Stage,No,0,NaN,NaN
15-06-2018,Portugal,Spain,3,39,8,3,2,3,4,1,...,1,0,0,No,4.0,Group Stage,No,0,NaN,NaN
15-06-2018,Spain,Portugal,3,61,12,5,5,2,5,3,...,1,0,0,Yes,24.0,Group Stage,No,0,NaN,NaN

* Antes da vírgula temos a seleção das linhas e depois a seleção das colunas.
* Podemos, entre outras coisas, passar uma lista para seleção ou um range separado por ':'

In [19]:
df_new.loc[['14-06-2018', '15-06-2018'], 'Team':'Blocked']

,Team,Opponent,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked
Date,,,,,,,,
14-06-2018,Russia,Saudi Arabia,5,40,13,7,3,3
14-06-2018,Saudi Arabia,Russia,0,60,6,0,3,3
15-06-2018,Egypt,Uruguay,0,43,8,3,3,2
15-06-2018,Uruguay,Egypt,1,57,14,4,6,4
15-06-2018,Morocco,Iran,0,64,13,3,6,4
15-06-2018,Iran,Morocco,1,36,8,2,5,1
15-06-2018,Portugal,Spain,3,39,8,3,2,3
15-06-2018,Spain,Portugal,3,61,12,5,5,2

In [21]:
df_new.loc[['14-06-2018', '15-06-2018'], ['Team', 'Blocked']]

                    Team  Blocked
Date
14-06-2018        Russia        3
14-06-2018  Saudi Arabia        3
15-06-2018         Egypt        2
15-06-2018       Uruguay        4
15-06-2018       Morocco        4
15-06-2018          Iran        1
15-06-2018      Portugal        3
15-06-2018         Spain        2

#### Selecionando células do dataFrame

In [24]:
#Final
df_new.loc['15-07-2018', 'Team']

Date
15-07-2018     France
15-07-2018    Croatia
Name: Team, dtype: object

### Selecionando linhas e colunas pelo índice  - função iloc
* Nesse caso serão selecionadas as duas primeiras linhas e duas primeiras colunas;
* Observe que as funções loc e iloc são mais intuitivas que usar apenas o slice no dataframe

In [25]:
df.iloc[0:2, 0:2]

         Date          Team
0  14-06-2018        Russia
1  14-06-2018  Saudi Arabia

In [26]:
df.iloc[0:3, :]

,Date,Team,Opponent,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,...,Yellow Card,Yellow & Red,Red,Man of the Match,1st Goal,Round,PSO,Goals in PSO,Own goals,Own goal Time
0,14-06-2018,Russia,Saudi Arabia,5,40,13,7,3,3,6,...,0,0,0,Yes,12.0,Group Stage,No,0,NaN,NaN
1,14-06-2018,Saudi Arabia,Russia,0,60,6,0,3,3,2,...,0,0,0,No,NaN,Group Stage,No,0,NaN,NaN
2,15-06-2018,Egypt,Uruguay,0,43,8,3,3,2,0,...,2,0,0,No,NaN,Group Stage,No,0,NaN,NaN

#### Selecionando células com o iloc

In [27]:
df.iloc[0,1]

'Russia'